@import "base/resets";

header {
  background-color: #f9f9f9;
  min-width: 100%;
  height: 100px;
  display: grid;
  place-items: center;
  .navbar {
    width: 100%;
    padding: 0;
    .navbar-nav {
      column-gap: 40px;
      li {
        a {
          position: relative;
          color: #333333;
          font-size: 20px;
          font-weight: 500;
          padding: 0 !important;
          &::before {
            content: "";
            position: absolute;
            bottom: 1px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: #75a3e7;
            transition: 0.4s all ease;
          }
          &::after {
            content: "";
            position: absolute;
            bottom: 1px;
            right: 0;
            width: 0;
            height: 2px;
            background-color: #75a3e7;
            transition: 0.4s all ease;
          }

          &.active,
          &:hover {
            color: #75a3e7;
          }

          &.active::before,
          &.active::after,
          &:hover::before,
          &:hover::after {
            width: 50%;
          }
        }
      }
    }
    a.signin {
      border: 2px solid #ffc1dc;
      color: #333333;
    }
  }
}

//main content style

// hero section start

#hero {
  h1 {
    background: linear-gradient(90.79deg, #0048ff 3.42%, #d6008d 82.66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 46px;
    font-weight: 700;
    line-height: 56px;
  }
  p {
    margin: 55px 0;
    color: #555555;
  }
  .hero-btn {
    background: linear-gradient(238.41deg, #09153f 1.24%, #002bc2 57.38%);
    color: #fff;
  }
}

// hero section end
