@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800&display=swap");

*,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tajawal", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

.common-btn {
  display: inline-flex;
  align-items: center;
  column-gap: 10px;
  padding: 10px 30px;
  font-size: 20px;
  line-height: 23px;
  border-radius: 100px;
  cursor: pointer;
}

.sec-pad {
  padding: 60px 0;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  color: #0048ff;
}

.sub-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 34px;
  color: #002b9a;
}

.navbar-toggler {
  cursor: pointer;
}

.navbar-toggler:focus {
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}

@media only screen and (max-width: 991px) {
  //hero content ======>

  .section-title {
    font-size: 34px;
    line-height: 40px;
  }

  .sub-title {
    font-size: 26px;
    line-height: 30px;
  }

  .common-btn {
    padding: 8px 30px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 767px) {
  //hero content ======>

  .section-title {
    font-size: 26px;
    line-height: 34px;
  }

  .sub-title {
    font-size: 22px;
    line-height: 30px;
  }

  .sec-pad {
    padding: 30px 0;
  }
}

@media only screen and (max-width: 575px) {
  .section-title {
    font-size: 22px;
    line-height: 26px;
  }

  .sub-title {
    font-size: 18px;
    line-height: 24px;
  }
}
